main{
    display: flex;
    flex-direction: column;
}
.main_contato{
   display: flex;
   flex-direction: column;
   
}
.main2_contato{
    width: 100%;
    display: flex;
    margin-left: 48px;
}
main img{
    width: 480px;
    right: 10px;
}
.section_contato{
    flex-direction: column;
    margin-right: 24px;
    margin-left: 48px;
}

#span_contato{
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: column;
    margin-left: 48px;
}
#seach_contato{
    border-radius: 20px;
    padding: 10px;
    width: 400px;
    border: none;
}
.section2_contato{
    display:flex;
    flex-direction: row;
    margin: 16px 16px 0 0;
}
.section3_contato{
    display: flex;
    flex-direction: column;
    height: 600px;
}
   