.main_contato{
    width: 80%;
}
.section_contato{
    margin: 20px 0 0 10px;
    flex-direction: column;
}

#span_contato{
    font-size: 15px;
    color: gray;
    display: flex;
    flex-direction: column;
}
#seach_contato{
    border-radius: 20px;
    padding: 15px;
    width: 400px;
}