@media screen and (max-width: 500px) {

    /* INDEX */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>a>img {
        margin: 0;
    }

    #search {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .container>nav>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container>nav>ul>li {
        margin-bottom: 8px;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .part-one {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
    }

    .part-one>img {
        width: 100%;
    }

    .call-two {
        text-align: justify;
    }

    .plans {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .align {
        display: flex;
        flex-direction: column;
    }
   /*CONTATO*/
   h1, p{
    display: flex;
    flex-wrap: wrap;
   }
   .main_contato section img{
     width: 200px;
     position: none;
    }




    /* DISCIPLINAS */
    .center {
        width: 0;
        margin: 0;
    }


    /* CADASTRO */
    .main {
        width: 90%;
        margin-bottom: 64px;
    }

}