@media screen and (max-width: 500px) {

    .form {
        margin-bottom: 8px;
    }

    /* INDEX */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container>a>img {
        margin: 0;
    }

    #search {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .container>nav>ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container>nav>ul>li {
        margin-bottom: 8px;
    }

    section {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .part-one {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
    }

    .part-two {
        margin-bottom: 32px;
    }

    .part-one>img {
        width: 100%;
    }

    .call-two {
        text-align: justify;
    }

    .plans {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        width: 100%;
    }

    .align {
        display: flex;
        flex-direction: column;
    }
   /*CONTATO*/
   h1, p{
    display: flex;
    flex-wrap: wrap;
   }
   .main_contato section img{
     width: 200px;
     position: none;
    }




    /* DISCIPLINAS */

    .center {
        width: 100%;
    }

    .title-disc {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .filtrar {
        display: flex;
        margin-bottom: 16px;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .filtros {
        display: none;
    }

    .disc {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .column-card{
        width: 90%;
    }

    .column {
        width: 90%;
    }

    .alinhar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .card-lesson {
        
    }


    /* CADASTRO */
    .main {
        width: 90%;
        margin-bottom: 64px;
    }

    /* aula */
    .grade {
        width: 100vw;
        height: 50vw;
    }

    .comentario-container{
        display: none;
    }

    /* LOGIN */
    #loginpagina {
        width: 100%;
    }

    .arealogin{
        width: 100%;
    }

    .login {
        width: 100%;
    }

    #loginemail{
        width: 80%;
    }

    #loginsenha{
        width: 80%;
    }

    #account {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}